/* Styling the button */
#theme-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

/* Additional content styling */
.content {
    margin: 20px;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    /* background: linear-gradient(127deg, black, rgb(36, 0, 36), black); */
}

h2 {
    font-weight: 400;
}

#login-form, #content {
    text-align: center;
    background-color: #ffffff29;
    color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 200px rgba(0, 0, 0, 0.1);
    min-height: 50vh;
    min-width: 50vw;
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="password"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    background-color: whitesmoke;
    color: purple;
    border-radius: 5px;
    width: 80%;
}

.eye-icon {
    position: absolute;
    right: 20px;
    cursor: pointer;
    color: white;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(122, 33, 122);
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: purple;
}

/* Styling the button */
#theme-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    cursor: pointer;
    width: 30px;
}