body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(127deg, black, rgb(36, 0, 36), black);
}

h2 {
    font-weight: 400;
}

#login-form, #content {
    text-align: center;
    background-color: #ffffff29;
    border: solid rgb(94, 94, 94);
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="password"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    background-color: rgb(104, 78, 104);
    color: white;
    border-radius: 5px;
    width: 80%;
}

.eye-icon {
    position: absolute;
    right: 20px;
    cursor: pointer;
    color: white;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: plum;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: purple;
}
